html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.fixed-card {
  width: 300px;
  height: 200px;
}
#landing-page {
  background-image: url('/BGLandscape.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar .navbar-brand {
  color: white !important; /* Default text color */
}
.navbar .nav-brand:hover {
  color: lightblue !important; /* Hover text color */
}
.navbar .navbar-nav .nav-link {
  color: white !important; /* Force text color */
}
.navbar .navbar-nav .nav-link:hover {
  color: lightblue !important; /* Force hover color */
}
.footer {
  z-index: 1000;
}