html,
body {
  
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#landing-page {
  background-image: url('/sunset2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar .navbar-brand {
  color: white !important;
}
.navbar .navbar-brand:hover {
  color: lightblue !important;
}
#login-dropdown {
  color: white !important;
}
#login-dropdown:hover {
  color: lightblue !important;
}